[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
multipledispatch = "*"
pyyaml = "*"
email-validator = "*"
levenshtein = "==0.26.1"

[dev-packages]

[requires]
python_version = "3.13"
